.container{
  display:flex;
  justify-content: space-between;
  position:relative;
  width:30%;
  position: fixed;
  top:1rem;
  right:35%;
  border-bottom:4px solid rgb(13, 55, 243);
 
}
.nested{
  position:absolute;
  top:24px;
  width:150px;
  border:2px solid rgb(13, 55, 243);
}

.route{
  position:absolute;
  left:35%;
  top:30%;
  font-size: 10vw;
}
.nestedBlock{
  display:block;
  position:absolute;
  top:24px;
  width:auto;
  border:2px solid rgb(13, 55, 243);
}
.nestedNone{
  display:none;
  position:absolute;
  top:24px;
  width:auto;
  border:2px solid rgb(13, 55, 243);
}
